body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
      
}

.cabecalho-catalogo{
    height: 600px; /* Altura do cabeçalho */
    position: relative; /* Para posicionar a imagem dentro */
    overflow: hidden; /* Esconde a parte da imagem que sai do cabeçalho */
}


header {
    background-color: black;
    max-height: 100px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    
}

.nav-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.021); /* Fundo transparente */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}



.nav-links a {
    color: #ffffff; /* Cor padrão do texto */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Permite definir largura e altura */
    width: 70px; /* Largura fixa */
    height: auto; /* Altura fixa */
    padding: 10px; /* Espaçamento interno */
    border-radius: 25px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
    line-height: 30px; /* Alinha verticalmente o texto */
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* Transição suave */
}

.nav-links a:hover {
    color: #000000; /* Cor do texto ao passar o mouse */
    background-color: #e6e9f0be; /* Cor de fundo ao passar o mouse */
    border: 2px solid black; /* Borda preta ao passar o mouse */
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}



.rodape{
    background-color: #191B40; 
    color: rgb(255, 255, 255); 
    padding: 20px; 
    width: 100%; 
    position: relative; 
    bottom: 0; 
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.rodape .logo {
    font-size: 300%;
}

address {
    text-align: center;
    color: #ffffff;
}
.rodape .verificacao {
    font-size: 12px; 
    color: white ;
}
.container-logos {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px; 
}

.redes-sociais {
    max-width: 50px; 
    height: auto; 
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #f2f3f7;
}

/* style usuario */

